<div class="sobre-container container-fluid bg-light">
  <div class="row">
    <div class="col-4 text-start">
      <p><strong>Turma:</strong> ADS0301M</p>
      <p><strong>Turno:</strong> Manhã</p>
      <p><strong>Unidade:</strong> Bonsucesso</p>
    </div>

    <div class="col-4 text-center">
      <img
        src="assets/eu.jpg"
        alt="Foto de perfil"
        class="img-fluid foto"
      />
    </div>

    <div class="col-4 text-end">
      <h2>Nome: Carlos Vitor Barbosa</h2>
    </div>
  </div>
</div>
